/*
title skills
*/
.title-skills {
    font-size: 4rem;
    margin-bottom: 40px;
}


/* section of card info */
/* skills and services */
.services-section {
    padding-top: 82px;
  }
  
.skills {
    margin-top: 100px;
    margin-bottom: 100px;
}
.container-skills-cards {
    margin-top: 80px;
}
  
  .skills .member {
    padding: 30px;
    border-radius: 5px;
    
    transition: 0.5s;
    box-shadow: 0px 15px 30px rgba(33, 43, 71, 0.3);
    height: 230px;
  }
  .skills .member:hover {
    box-shadow: 0px 15px 30px rgba(33, 43, 71, 0.8);
    
   
  }
  
  .skills .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgba(135, 77, 228, 1);
  }
  
  .skills .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .skills .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;
  }
  
  .skills .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .skills .member a:hover {
    background: #0061f2;
    color: white;
  }
  .info-estadisticas {
    text-align: center;
  }
  .info-estadisticas h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #e26e43;
  }
  .h3-container {
    margin-bottom: 20px;
  }

  .name-skill {
    border-radius: 5px;
    background-color: #4c565c;
    display: inline;
    padding: 5px;
  }
  .container-skill {
    display: inline;
    margin-right: 5px;
   
  }

  