body {
  background-color: #101618;
}
* {
  font-family: 'Saira', sans-serif;
  color: #fff;
  overflow: visible;
}



.fontAbril {
  font-family: 'Abril Fatface', cursive;
}
.fontLibre {
  font-family: 'Libre Baskerville', serif;

}

/* Navbar */


.hamIcon {
  font-size: 1.5em;
  color: #fff;
}
.navbar .nav-link{

  color: white;
  margin-right: 29px;
  transition: 0.2s;
}

a.nav-link:hover{
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}


.btn-register {
  list-style: none;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  background: #006494;
  color: #fff;
  padding: 8px 20px;
  transition: all 0.6s;
  margin-right: 5px ;
}

.btn-register:hover {
 color: #fff;
 background: #0380ba;

}

.btn-login {
  text-decoration: none;
  border: none;
  border-radius: 50px;
  color: #fff;
  background: transparent;
  padding: 8px 20px;
  transition: background-color .3s;
}
.btn-login:hover {
  background-color: #006494;
  color: #fff;
}
.btn-login:active {
  animation: gradient 90ms;
      background: #006494;
      color: #006494;
      box-shadow: none;
}
@keyframes gradient {
0% {
background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #006494 0%, #006494 100%);
}
25% {
background: radial-gradient(circle at center, #006494 24%, #006494 25%, #006494 100%);
}
50% {
background: radial-gradient(circle at center, #0775a8 49%, #006494 50%, #006494 100%);
}
75% {
background: radial-gradient(circle at center, #0d87bf 74%, #006494 75%, #006494 100%);
}
100% {
color: #fff;
background: radial-gradient(circle at center, #1197d4 99%, #006494 100%, #006494 100%);
}
}

.navbar-fixed{
  background-color: #003554;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.6s;
  box-shadow: 0px 3px 16px 0px rgba( 0, 0, 0, 0.1);
}

/* header */ 

.contenedorHeader {
  margin-top: 70px;
}


.RowHeader {
  margin-top: 150px;
}


.h1Principal {
  color: #fff;
  letter-spacing: 0.3625rem;
  font-size: 4.2em;
  
}

/* .h1animation {
  animation-name: animacionH1 ;
  animation-duration: 5s;
}

@keyframes animacionH1 {
  from {
    color: transparent;
    margin-top: 100px;
  }
  to {
    color: #fff;
    margin-top: 0;
  }

} */

.typing-achine {
  display: block;
  font-size: 0.87em;
  margin-bottom: 15px;
  white-space: nowrap;
  border-right: 2px solid;
  width: 4ch;
  animation: typing 1s steps(4), blink .3s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*lado de la imagen*/
.container-image {
  margin-top: 30px;
  height: 250px;
  width: 250px;
  background-color: transparent;
  text-align: center;
}

.imagen-esteban {
  height: 90%;
  -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
}


/* scroll arriba */

#botonArriba {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 50px;
  color: #5C6B73;
}

/* miniAreaContacto*/

.miniAreaContacto {
  margin-top: 180px;

}
.contact-p {
  margin-bottom: 0;
}

.contenedor-links {
  justify-content: center;
  animation-name: contactAnimation;
  animation-duration: 3s;
}




.links-contact{
   display: inline !important;
   width: 10px;
   font-size: 1.3rem;
   margin-left: 5px;
}
.links-contact i:hover{
  color: #5C6B73;
 
}
.first-item-contact {
  padding-left: 0;
  margin-left: 0;
}



@media (max-width: 500px) {
  
.h1Principal {
  
  font-size: 3.4em;
  
}
.RowHeader {
  margin-top: 10px;
}

#botonArriba {
  font-size: 30px;
  right: 25px;
}
}